body {
  font-family: 'Big Shoulders Text', cursive;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.navbar a img {
  width: 150px;
}
.navbar {
  top: 0px;
  position: absolute;
  background: transparent !important;
  width: 100%;
}
.hero {
  height: 95vh;
}

a.nav-item {
  color: #fff !important;
  text-transform: uppercase;
}
.navbar {
  padding: 30px 5%;
}
.navbar a {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Big Shoulders Text', cursive;
  letter-spacing: 2px;
}
.services-section {
  color: #000;
  padding: 50px 0;
}
.navbar li {
  cursor: pointer;
}
.services-section {
  text-transform: uppercase;
}
.left li,
.right li {
  list-style-type: none;
}
.left .item,
.right .item {
  float: left;
  text-align: left;
}
.left span, 
.right span {
  padding-left: 100px;
  float: right;
}
.left span:first-child,
.left span:first-child {
  padding-left: 0;
}
.yelp-reviews {
  color: #000;
}
.yelp-reviews li {
  list-style-type: none;
  text-align: left;
}