body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hero {
    height: 75vh;
    background-image: url('/imgs/rubens-hero.jpg');
    width: 100vw;
    background-image: url(/imgs/rubens-hero.jpg);
    background-position: center;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}